// $scale
$scale : 4;

// breakpoing config
$breakpoint-mobile: 480px;
$breakpoint-phablet: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop-s: 1200px;
$breakpoint-desktop-l: 1400px;

// background
$background-primary : #f3f4f6;

// color
$color-white : #fff;


// radius
$radius-s : 4px;
$radius-m : 8px;
$radius-l : 12px;

// padding
$padding-s : 8px;
$padding-m : 12px;
$padding-l : 16px;
$padding-xl : 20px;
$padding-xxl : 24px;

// font 
$font-s : 14px;
$font-m : 16px;
$font-l : 18px;
$font-heading-3 : 20px;
$font-heading-2 : 24px;
$font-heading-1 : 28px;

